
<form [formGroup]="Loginform"  style="border:1px solid #ccc">
	<app-error-display [OnNewError]="OnNewError"></app-error-display>
    <div class="container"  align="center">
      <h1>Login</h1>
       <!--username-->
      <div>
        <label class="labels" for="username"><b>Business Name</b></label>
        <input class="InputField" type="text" placeholder="Enter username" name="username" formControlName="BusinessName"  required>  
        <div *ngIf="checkingValidity">
          <div class="alert" *ngIf="Loginform.controls.BusinessName.errors?.['pattern']">no special cahracters</div>
          <div class="alert" *ngIf="Loginform.controls.BusinessName.errors?.['required']">this field is required</div>
          <div class="alert" *ngIf="Loginform.controls.BusinessName.errors?.['minlength']">Must be longer 3 cahracters</div>
          <div class="alert" *ngIf="Loginform.controls.BusinessName.errors?.['maxlength']">Must be shorter than 15 cahracters long</div>
        </div><br>
         </div>
         <!--password-->
        <div>
                <label class="labels" for="psw"><b>Password</b></label>
                <input class="InputField" type="password" placeholder="Enter Password" name="psw" formControlName="OwnerPassword"  required>
                <div *ngIf="checkingValidity">
                  <div class="alert" *ngIf="Loginform.controls.OwnerPassword.errors?.['required']">this field is required</div> 
                  <div class="alert" *ngIf="Loginform.controls.OwnerPassword.errors?.['minlength']">Must be longer 8 </div>
                  <div class="alert" *ngIf="Loginform.controls.OwnerPassword.errors?.['pattern']">no special cahracters </div>
                  <div class="alert" *ngIf="Loginform.controls.OwnerPassword.errors?.['maxlength']">Must be shorter than 35 cahracters long</div>
                </div>

        </div>
        <div>
          <label class="labels" for="email"><b>Businnes Email  </b></label>
          <input class="InputField" type="text" placeholder="Enter Email" name="email" formControlName="OwnerEmail" required>
          <div *ngIf="checkingValidity">
            <div class="alert" *ngIf="Loginform.controls.OwnerEmail.errors?.['email']">Invalid email</div>
            <div class="alert" *ngIf="Loginform.controls.OwnerEmail.errors?.['required']">this field is required</div>
            <div class="alert" *ngIf="Loginform.controls.OwnerEmail.errors?.['minlength']">Must be longer 5 characters</div>
            <div class="alert" *ngIf="Loginform.controls.OwnerEmail.errors?.['maxlength']">Must be shorter than 30 cahracters</div>
          </div>
        </div>
         <!--Submit-->
       <div class="clearfix">
          <button type="button" class="cancelbtn" routerLink="/">Cancel</button>
          <button class="signupbtn" (click)="checkValidity()">Sign Up</button>
        </div>
      </div>
  </form>
