<div *ngFor="let slot of Timeslots">

  <div *ngIf="slot.isBlank" [style]="slot.StylingSlotHeight" 
       class="Appointment-blank"
       (click)="BookAppointment(slot)">
    <span>Open</span>
  </div>
  <div *ngIf="!slot.isBlank" [style]="slot.StylingSlotHeight" 
       class="Appointment-filled"
       (click)="EditAppointment(slot)">
    <span *ngIf="auth.loggedIn()">{{ slot.CurrentAppointment?.AppointmentName }}
      <span *ngIf="slot.CurrentAppointment?.isConfirmed==0">Pending</span>
    </span>
    <span *ngIf="!auth.loggedIn()">Booked</span>
  </div>

</div>
