<div class="appointment-container">
    <h1>{{ AppointmentInfo.AppointmentName }} Appointment for {{ AppointmentInfo.ClientFirstName }} {{ AppointmentInfo.ClientLastName }}</h1>
    <div class="appointment-details">
      <p><strong>Duration:</strong> {{ AppointmentInfo.AppointmentDurationInMinutes }} minutes</p>
      <p><strong>Time:</strong> {{ AppointmentInfo.AppointmentTime }}</p>
      <p><strong>Date:</strong> {{ AppointmentInfo.AppointmentDate }}</p>
    </div>
  </div>
  <button class="toggle-edit-btn" (click)="ReScheduleAppointment()" *ngIf="!ValidatingTime">Re-schedule</button>
  
  <div class="edit-form-container" *ngIf="ValidatingTime">
    <p class="form-instruction">You can edit the following fields:</p>
    <form [formGroup]="Editingform" class="edit-form">

      <div class="form-group">
        <label for="appointmentTime">Appointment Time</label>
        <input class="input-field" type="time" id="appointmentTime" name="time" formControlName="AppointmentTime">
      <div class="form-buttons">
        <button type="button" class="cancel-btn" routerLink="/AppointmentsTimetable">Cancel</button>
        <button class="save-btn" (click)="ValidateAppointmentTime()">Save</button>
      </div>
      </div>
    </form>
  </div>
  